/********* Fonts *********/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Poppins:wght@400;500;600&display=swap');

/********* Global CSS Variables *********/
:root{
    /***** Color *****/
    --color: 340;
    --dark:259;

    --first-color: hsl(var(--color), 69%, 61%);
    --first-color-alt: hsl(var(--color), 57%, 53%);
    --first-color-light: hsl(var(--color), 92%, 85%);
    --title-color: hsl(var(--color), 8%, 15%);
    --text-color: hsl(var(--color), 8%, 45%);
    --text-color-light: hsl(var(--color), 8%, 65%);
    --input-color: hsl(var(--color), 70%, 96%);
    --bg-color: hsl(var(--color), 60%, 99%);
    --container-color: #FFF;

    /*--dark-mode-color: hsl(var(--dark), 28%, 43%);*/
    /*--dark-mode-text: hsl(60, 3%, 77%);*/
    /*--dark-mode-link: hsl(var(--dark), 69%, 61%);*/
    /*--dark-mode-light: hsl(var(--dark), 92%, 85%);*/
    /*--dark-mode-title: hsl(var(--dark), 8%, 65%);*/
    /*--dark-mode-bg: hsl(60, 2%, 22%);*/

    /***** Font *****/
    --body-font: 'Poppins', sans-serif;
    --special-font: 'IBM Plex Mono', monospace;

    --large-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
}

/***** Large Screens *****/
@media screen and (min-width: 600px) {
    :root {
        --margin-base: 10px;
        --large-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
    body{
        margin: 0 2rem 0 2rem;
    }
    .wrapper{
        border-radius: 10px;
        background: var(--first-color-light);
    }

}
/***** Mobile Screens *****/
@media screen and (max-width: 600px) {
    :root {
        --margin-base: 6px;
    }
    .about{
        margin-top: 5rem;
    }
    .welcome{
        display: none;
    }
    .lottie{
        display: none;
    }
    .self{
        display: none;
    }
    .spacing{
        padding-bottom: 2rem;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --text-color-dm: white;
        --background: black;
    }
}
/***** Default *****/
*{
box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: floralwhite;
    color: var(--text-color);
}
/*.dark-mode{*/
/*    background-color: var(--dark-mode-bg);*/
/*    color: var(--dark-mode-text);*/
/*}*/
h1,h2,h3,h4{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
img{
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

/***** Layout *****/
.section{
    padding: 2rem 0 4rem;
}
.section_title{
    font-size: var(--h1-font-size);
}
.section_sub{
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: 3rem;
}
.section_title,
.section_sub{
    text-align: center;
}
.grid{
    display: grid;
    gap: 1.5rem;
}

/********** Nav / Header **********/
.nav-link{
    color:var(--first-color);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}
.nav-link:hover{
    color: var(--first-color-alt);
}
.navbar-toggler:focus{
    box-shadow: none;
}
nav{
    padding-top: 3rem;
    z-index: 1000;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 90%;
}
/********** Welcome **********/
.welcome{
    position: relative;
    top: 1rem;
    left: 4rem;
}
/********** About Me **********/
.about{
    padding: 0 5rem 2rem 5rem;
}
section:nth-child(2) > .section_title,.section_sub{
    text-align: left;
}
.intro{
    display: flex;
    align-items: end;
}
.special{
    font-family: var(--special-font);
    padding-left: 2rem;
}
#about{
    height: fit-content;
}
.about-wrapper{
    display: flex;
    align-items: center;
}

/********** Skills **********/
h3{
    color: var(--first-color-alt);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    font-family: var(--special-font);
}
.skills{
    margin: 0 5rem 5rem;
    padding: 2rem 5rem 2rem 5rem;
    background-color: floralwhite;
    border-radius: 10px;
}
section:nth-child(2) > .section_title{
    padding-right: 8rem;
}
.skill_list{
    gap: 2rem;
    list-style-type: none;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}
section:nth-child(3) > .section_sub{
   margin: 0;
}
.skill{
    text-align: center;
}
/********** Projects **********/
.project{
    display: inline;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.work img{
    max-width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    max-width: 100%;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--first-color-alt));
    border-radius: 10px;
    left: 0;
    bottom:0;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer h3{
    font-weight: var(--h3-font-size);
    color: var(--container-color);
    margin-bottom: 20px;
}
.layer p{
    color: var(--container-color);
}
.layer a{
    margin-top: 20px;
    color: var(--first-color);
    text-decoration: none;
    font-size: var(--normal-font-size);
    line-height: 60px;
    background: var(--container-color);
    width: 60px;
    height:60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.proj{
    font-size: var(--h1-font-size);
}
/********** Contact Me **********/
form{
    margin: 1rem;
}
.contact_wrapper{
    max-width: 400px;
    background-color: floralwhite;
    box-shadow: 0 0 20px 0 var(--first-color-light);
    border-radius: 10px;
    top: 50%;
    left: 50%;
}
.input{
    color: var(--text-color);
    background-color: floralwhite;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    padding: 8px 10px 10px 8px;
    border: 1px solid var(--first-color);
    border-radius: 12px;
    outline: none;
    font-family: var(--body-font);
}
.text-area{
    height: 150px;
    padding-top: 10px;
}
button{
    border-radius: 20px;
    color: var(--first-color);
    margin-top: 18px;
    padding: 10px;
    background-color: floralwhite;
    font-size: var(--normal-font-size);
    border: none;
    cursor: pointer;
}
.lottie{
    position:relative;
    top:10rem;
    right:15rem;
}
/********** Feet **********/
.foot_wrapper{
    text-align: right;
    padding-right: 5rem;
}
.icon{
    font-size: var(--h2-font-size);
    color: var(--first-color);
}
.icon:hover{
    color: var(--first-color-light);
}
/********** Scroll **********/
::-webkit-scrollbar{
    width: .5em;
}
::-webkit-scrollbar-track{
    background-color: floralwhite;
    border-radius: 100vw;
    margin-block: .25em;
}
::-webkit-scrollbar-thumb{
    background-color: var(--first-color-light);
    border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--first-color-alt);
}
